<header>
  <h1 class="header">PIMP MY MEME</h1>
</header>

<div class = "memes">

<% @memes.each do |meme|%>
  <%= image_tag(meme.image_url, size: "200x200", class:"meme", alt:meme.title) %>
<%end %>

</div>
