
<table class="caption_table">
  <% @captions.each do |caption| %>
  <tr><td><div class="vote_up"><button id ="<%=caption.id%>" class = "vote_up_button"></button><br><%=caption.id%></div></td><td><%= caption.title%></td><td>-<%=caption.signature%></td></tr>
  <% end %>
</table>

