
<table class="caption_table">
  <% @captions.each do |caption| %>
  <tr><td><button id ="<%=caption.id%>" class = "vote_up_button"></button></td><td><%= caption.title%></td><td>-<%=caption.signature%></td></tr>
  <% end %>
</table>

