 <tr><td><div class="vote_up"><button id ="<%=caption.id%>" class = "vote_up_button"></button><br><span class="vote_number"><%=caption.votes%></span></div></td><td><%= caption.title%></td><td>-<%=caption.signature%></td></tr>

