form#new_meme{
  margin: 0 auto;
  padding: 5px;
}

input[type="text"]{
  position: relative;
  background: transparent;
  border-radius: 1em;
  padding: 4px;
  border:none;
  padding-left: 10px;
  background: rgba(0,0,0,0.12);
}

input[type="submit"] {
  position: absolute;
  padding: 3px;
  width: 80px;
  bottom: 15px;
  right: 10px;
  border-radius: 1em;
  background: transparent;
  border: solid 3px rgba (0,0,0,.7);
}

input[type="submit"]{
  background: rgba(242,255,128,.3);
}

:focus{
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,.8)
}
textarea {
  height: 40px;
  border: none;
  color: black;
  background: rgba(0,0,0,0.12);
  border-radius: 1em;
  margin-bottom: 5px;
  padding: 10px;
  resize: none;
}

div.new_meme{
  opacity: 0.5;
  width: 500px;
  height: 115px;
  margin: 0 auto;
  position: relative;
  background: rgba(71, 178, 107,.7);
  border-radius: 1.5em;
  padding: 10px;
}

form.caption_form{
  margin: 0 auto;
  padding: 5px;
}

div.wrapper{
  position: absolute;
  height: 34px;
  width: 120px;
  overflow: hidden;
  text-align: center;
  background: url('http://i.imgur.com/YMa6Ctp.png');
}

input#meme_image_url {
  padding: 3px;
  width: 35px;
  border-radius: 1em;
  opacity: 0;
  border: solid 3px rgba (0,0,0,.7);
}

input#meme_url {
  margin: 3px;
}

input#meme_title {
  margin: 3px;
}

input[type="file"] {
  position: relative;
  z-index: 2;
  -moz-opacity:0 ;
  opacity: 0;
  padding: 3px;
  width: 80px;
  border-radius: 1em;
  background: transparent;
  border: solid 3px rgba (0,0,0,.7);
}

div.wrapper:hover{
  background: url('http://i.imgur.com/VzKJsHU.png');
}

div.add-a-meme {
  position: relative;
  height: 10px;
}

.visible {
  width: 500px;
  height: 115px;
  margin: 0 auto;
  position: relative;
  background: rgba(71, 178, 107,.7);
  border-radius: 1.5em ;
  padding: 10px;
}

a.add-a-meme {
  background-color: rgba(71, 178, 107,1);
  position: absolute;
  text-decoration: none;
  color: #fff;
  text-align: center;
  top: 5px;
  right: 10px;
  margin: 15px;
  padding: 7px;
  border-radius: 1em;
}

a.add-a-meme:hover {
  text-decoration: none;
  background-color: rgba(14, 130, 71, 1);
}

input.file {
  background-color: black;
}

.height-fix, .width-fix {
  visibility: hidden;
  font-size: 1px;
}

@media screen and (max-width: 800px){
div.visible{
    width: 350px;
    text-align: center;
    top: 40px;
  }

  div.memes{
    margin: 50px auto;
  }

  input {
    right: 20px;
  }

  a.add-a-meme{
    top: -6px;
    right: 127px;
  }
}


@media screen and (max-width: 400px){
  h1.header{
    font-size: 25px;
    top: 10%;
  }
  div.memes{
    margin: 30px auto;
  }

  header{
    height: 100px;
  }
}
