@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
body{
  background-color:#E0E0D6 ;
  font-family: "Quattrocento Sans";
}

header {
  background-color: #47B26B;
  position: relative;
  height: 250px;
}

div.pimp_meme{
  position: relative;
  background-color: #47B26B;
  text-align: center;
  height: 20px;
  margin: 0 auto;
  border-bottom: 2px #47B26B solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*div.container{
  position: relative;
  margin: 0 auto;
  text-align: center;
  }*/

  div.meme{
    margin: 40px auto;
    text-align: center;}
/*div.meme_stop{
  margin: 40px auto;
  text-align: center;}
  */
/*div.meme_stop{
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 289px;

  z-index: 1
  }*/

  div.image{
    /*height: 400px;
    width: 400px;*/
    position: relative;
    margin: 0 auto;
  }

h1.meme{
  position:absolute;
  left: 3%;
  bottom: 0px;
  font-size: 20px;
  margin:0;
}


  p.image{
    padding: 0;
    margin: 0;
    position: absolute;
    bottom:10px;
    left: 20px;
    font-size: 30px;
    font-family: "impact";
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  div.vote_up{
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  a#index{
    text-decoration: none;
    color: white;
  }

  a#index:hover{
    color: #4F0B70;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
  }

  h1.header {
    position: absolute;
    font-family: 'Quattrocento Sans';
    text-align: center;
    left: 30%;
    right: 30%;
    top: 15%;
    font-size: 50px;
    color: white;
  /*background-color: rgba(204,204,204,.7);
  padding: 10px;
  border-radius: .5em;*/
}

div.memes{
  margin: 20px;
  text-align: center;
}

div.caption_form{
  width: 410px;
  margin: 0 auto;
  position: relative;
  /*  border: 1px solid;*/
  background: rgba(71, 178, 107,.7);
  border-radius: 1.5em ;
  padding: 10px;
  margin-bottom: 40px;
}

div.caption_table{
  width: 410px;
  margin: 0 auto;
  position: relative;
  /*  border: 1px solid;*/
  /*  background: rgba(71, 178, 107,.7);*/
  border-radius: 1.5em ;
  padding: 10px;
}

table.caption_table{
  width: 405px;
  border-radius: 1em;
}


tr{
  height: 50px;
  padding: 10px;
  font-size: 14px;
}

tr:nth-child(odd){
  background:rgba(133,133,133,0.5);
}

tr:hover{
  -webkit-transition: all .2s ease-in-out;
  background: rgba(71, 178, 107,.4);
}

tr:nth-child(odd):hover{
  background: rgba(71, 178, 107,.6);

}


button.vote_up_button{
  background: url("triangle_hollow.png");
  background-size: cover;
  border: none;
  height: 20px;
  width: 20px ;
  margin: 4px;
}

button.vote_up_button:active{
  /*-webkit-transition: all .5s ease-in-out;*/
  background: url("triangle.png");
  background-size: cover;
  border: none;
  height: 20px;
  width: 20px ;
  margin: 4px;
}





h1.meme_show{
  margin: 0;
}
/*rgba(138,150,150,0.7);*/

img.meme_show{
  margin: 0 auto ;
  border: solid 8px rgba(138,150,150,0.7) ;
  border-radius: .25em;
}

img.meme {
  margin: 30px;
  border: solid 10px rgba(138,150,150,0.7);
}

form.caption_form{
  margin: 0 auto;
  /*padding: 5px;*/
}

input[type="text"]{
  background: transparent;
  border-radius: 1em;
  padding: 4px;
  border:none;
  padding-left: 10px;
  background: rgba(0,0,0,0.12);
}

input[type="submit"] {
  position: absolute;
  padding: 3px;
  width: 80px;
  bottom: 15px;
  right: 10px;
  border-radius: 1em;
  background: transparent;
  border: solid 3px rgba (0,0,0,.7);
}

input[type="submit"]:hover{
  background: rgba(242,255,128,.3);
}

:focus{
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,.8)
}

textarea {
  height: 40px;
  border: none;
  color: black;
  background: rgba(0,0,0,0.12);
  border-radius: 1em;
  margin-bottom: 5px;
  padding: 10px;
  resize: none;
}


@media screen and (max-width: 400px){
  h1.header{
    font-size: 25px;
    top: 10%;
  }
  div.memes{
    margin: 30px auto;
  }

  header{
    height: 100px;
  }

  div.image{
 /*   height: 200px;
    width: 200px;*/
    position: relative;
    margin: 0 auto;
  }


  img.meme_show{
   /* width: 200px;
    height: 200px;*/
    margin: 30px auto 0;
    border: solid 5px rgba(138,150,150,0.7) ;
    border-radius: .25em;
  }
  div.caption_form{
    width: 235px;
    height: 135px;
    margin: 0 auto;
    position: relative;
    background: rgba(71, 178, 107,.7);
    border-radius: 1.5em ;
    padding: 10px;
  }
  textarea {
    width: 200px;
    height: 40px;
    border: none;
    color: black;
    background: rgba(0,0,0,0.12);
    border-radius: 1em;
    margin-bottom: 5px;
    padding: 10px;
    resize: none;
  }

  input[type="text"]{
    width: 200px;
    background: transparent;
    border-radius: 1em;
    padding: 4px;
    border:none;
    padding-left: 10px;
    background: rgba(0,0,0,0.12);
  }

  input[type="submit"] {
    position: absolute;
    padding: 3px;
    width: 80px;
    bottom: 10%;
    /*left: 5%;*/
    border-radius: 1em;
    background: transparent;
    border: solid 3px rgba (0,0,0,.7);
  }

}

